.wrapper {
    margin: 0 auto;
    width: 80%;
    background-color: rgb(136, 135, 135);
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    display: flex;
    background-color: rgb(104, 62, 143);
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

.header__heading {
    border-radius: 5px;
    font-size: 2.5rem;
}

.header__heading,
.header__link {
    color: azure;
}

.header__heading,
.header__link {
    margin: auto 4%;
}

.header__heading,
.header__text--mod {
    font-weight: 700;
}

.header__text {
    margin: auto 0;
    color: rgb(163, 159, 159);
    display: inline-block;
}

.header__link {
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(51, 126, 54);
    font-size: 1rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.header__link:hover {
    background-color: rgb(19, 77, 21);
    transition: all 0.5s;
}

.main {
    display: flex
}

.section,
.section__container {
    border: 1px solid black;
    margin-left: 2%;
}

.section {
    position: sticky;
    padding: 15px;
    top: 112px;
    width: 25%;
    height: 700px;
}

.section__container {
    display: flex;
    margin-top: 12px;
    height: 200px;
}

.section--mod {
    width: 69% ;
}
