@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* 1 */
body {
    font-family: Roboto;
}

/* 10 */
.wrapper,
.wrapper-mod {
    margin: 0 auto;
    width: 80%;
    background-color: rgb(163, 163, 163);
}

/* 10 */
.wrapper-mod {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* 10 */
.header {
    top: 0;
    border-radius: 0 0 10px 10px;
}

/* 10 */
.header,
.form__checkbox {
    padding-bottom: 10px;
}

/* 10 */
.header,
.section {
    position: sticky;
}

/* 10 */
.header,
.footer,
.wrapper__container {
    background-color: rgb(104, 62, 143);
    
}

/* 10 */
.header__heading {
    font-size: 2.5rem;
}

/* 10 */
.header__heading,
.header__link,
.form__button,
.footer,
.container__link,
.item__link {
    color: azure;
}

/* 10 */
.header__heading,
.header__link {
    margin: auto 4%;
}

/* 10 */
.header__heading,
.header__text--mod,
.container__link {
    font-weight: 700;
}

/* 10 */
.header__text,
.container__item,
.footer__text--mod {
    margin: auto 0;
    color: rgb(163, 159, 159);
}

/* 10 */
.header__link,
.form__button {
    padding: 12px;
    border-radius: 5px;
    background-color: rgb(51, 126, 54);
    font-size: 1rem;
}

/* 10 */
.item__link,
.header__link,
.form__button {
    text-decoration: none;
}

/* 20 */
.header__link:hover,
.form__button:hover {
    background-color: rgb(19, 77, 21);
    transition: all 0.5s;
}

/* 10 */
.main,
.section__container,
.header,
.wrapper-mod {
    display: flex
}

/* 10 */
.section,
.section__container {
    margin-left: 2%;
}

/* 10 */
.section,
.section__container,
.footer,
.header__link,
.form__button {
    border: 1px solid black;
}

/* 10 */
.section {
    top: 102px;
    width: 25%;
    height: 600px;
}

/* 10 */
.section,
.footer {
    padding: 15px;
}

/* 10 */
.section__container {
    margin-top: 12px;
}

/* 10 */
.section--mod {
    width: 69% ;
}

/* 10 */
.form__container select,
/* 11 */
.form__container input,
.input-mod {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
}

/* 11 */
.container__form input {
    margin: 10px 0;
}

/* 10 */
.form__container {
    margin-bottom: 15px;    
}

/* 10 */
.form__checkbox,
.form__container,
.section__text,
.container__link,
.container__item {
    display: block;
}

/* 10 */
.section__text {
    margin-top: 8px;
}

/* 10 */
.section__heading {
    font-size: 1.5rem;
    font-weight: 700;
}

/* 10 */
.section__heading,
.footer,
.wrapper__container {
    text-align: center;
}

/* 10 */
.section__photo {
    width: 27%;
}

/* 11 */
.section__photo img {
    width: 100%;
    height: 100%;
}

/* 10 */
.section__item {
    margin: 1% 2%;
}

/* 10 */
.footer {
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
}

/* 10 */
.wrapper__container {
    width: 30%;
    border-radius: 10px;
    padding: 10px 2%;
}

/* 10 */
.container__link {
    padding: 20px 0;
    font-size: 2rem;
    text-decoration: none;
}

/* 20 */
.container__link:hover,
.item__link:hover {
    color: rgb(206, 204, 204);
}

/* 10 */
.container__item {
    padding: 10px 0;
}
